body {
  padding: 0;
  margin: 0;
  background: rgb(253, 245, 235) url('./images/honeycomb.png');
  background-repeat:repeat-y;
  background-position: center;
  background-size:cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbd466;
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 5px #9e853f;
}

.navbar--logo {
  max-width: 60px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px black;
}

.navbar--title {
  padding-left: 10px;
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  color: #b1dedd;
  -webkit-text-stroke: #48bec5;
  -webkit-text-stroke-width: 1px;
  text-shadow: black;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 75px;
  height: 50em;
  width: auto;
}

@media(max-width:500px){
  .page {
    /* background-color: red; */
    padding-top: 15%;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px;
  border-style: solid;
  border-color: #fbd466;
  border-radius: 8px;
  width: 300px;
  height: 14em;
  padding: 10px;
  background-color: #fbd466;
  box-shadow: 2px 2px 5px #99813d;
}

.login--field {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;

}

.login--field > input {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  border: none;
  height: 40px;
  box-shadow: 2px 2px 1px;
  text-indent: 10px;
  /* margin-bottom: .5em; */
}

.login--field > button {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  border: none;
  height: 40px;
  box-shadow: 2px 2px 2px;
  cursor: pointer;
}

.login--links {
  display: flex;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  padding-top: 10px;
}